/****************
      Helpers
*****************/
.clearfix::after {
  display: block;
  content: "";
  clear: both; }

ul {
  list-style: none;
  margin-top: 0; }

/********Wrapper********/
.wrapper-events {
  color: #333;
  width: 1100px; }
  .wrapper-events h1,
  .wrapper-events h2,
  .wrapper-events h3 {
    font-family: Georgia, serif; }
  .wrapper-events p {
    font-family: Helvetica,  Arial, sans-serif; }

/********Header********/
.events-header__title {
  font-size: 45px;
  margin-bottom: 10px;
  text-align: center; }

.events-header__subtitle {
  font-size: 14px;
  text-align: center; }

/******** Columnas ********/
/**************************/
.events__columns {
  float: left; }

/****columna izquierda*****/
.events__columns--left {
  width: 55%; }

.events-columns__arrow {
  margin-top: 300px;
  margin-left: 20px;
  margin-right: 20px;
  height: 45px;
  width: 45px; }

.events-columns__arrow--left {
  float: left; }

.events-columns__arrow--right {
  float: right; }

.events-columns__details {
  float: left;
  max-width: 435px;
  max-height: 616px;
  position: relative; }

.events-columns-details__img {
  position: absolute;
  filter: brightness(70%); }

.events-columns-details__next-event {
  background-color: #73C5A5;
  font-size: 18px;
  font-weight: bold;
  margin-left: 14px;
  padding: 10px;
  position: relative;
  top: 20px; }

.events-columns-details__date-event {
  color: #fff;
  font-size: 34px;
  margin-bottom: 10px;
  margin-left: 14px;
  position: relative;
  top: 66px; }

.events-columns-details__tittle-event {
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
  margin-left: 14px;
  position: relative;
  top: 60px; }

.events-columns-details__place-event {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-left: 14px;
  position: relative;
  top: 60px; }

.events-columns-details__get-details {
  border: none;
  color: #fff;
  display: block;
  text-decoration: none;
  background-color: #73C5A5;
  font-family: Helvetica, arial, sans-serif;
  font-size: 12px;
  padding: 10px;
  text-align: end;
  position: relative;
  top: 356px;
  width: 415px; }

/****columna derecha*****/
.events-columns__event {
  height: 103px;
  margin-left: 60px; }

.events-columns__event + .events-columns__event {
  margin-top: 30px; }

.events-columns__date-event {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0; }

.events-columns__tittle-event {
  font-family: Helvetica, arial, sans-serif;
  font-size: 12px;
  margin-bottom: 5px; }

.events-columns__place-event {
  font-family: Helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0; }

.events-columns__get-details {
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 100px;
  color: #222;
  font-size: 12px;
  height: 30px;
  padding: 5px 13px;
  text-decoration: none;
  text-transform: capitalize; }

.events-columns__event--selected {
  border-left: 15px solid #73C5A5;
  padding-left: 40px;
  transition: border-left 2s; }

/*# sourceMappingURL=styles.css.map */
